<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h3>コメントルームを選択してください</h3>
		</div>
		<div class="col-xs-4">
			<%= link_to "コメントルーム新規作成", "/sports/comment_rooms/new/#{@sport.id}", class: "btn btn-primary" %>		
		</div>
		<div class="col-xs-6">
			<%= @comment_rooms.each do |room| %>
			<%= link_to room.title, comment_room_path(room)  %>
			<% end %>
		</div>
	</div>
</div>