<div class="container">
	<div class="row">
		<div class="col">
			<h3 class="title">コメントルームを選択してください</h3>
			<%= link_to "コメントルーム新規作成", "/sports/#{@sport.id}/comment_rooms/new", class: "btn btn-primary" %>		
			<table class="table">
				<% @comment_rooms.each do |room| %>
				<tr>
					<td><%= link_to room.title, "/comment_rooms/#{room.id}"  %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>