<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h3>コメントルーム新規作成</h3>
			<%= form_for @comment_room, url: "/sports/comment_rooms/create/#{@sport.id}" do |f| %>
			<%= f.label :title, "ルームタイトル" %>
			<%= f.text_field :title %>
			<%= f.submit "新規作成", class: "btn btn-success" %>
			<% end %>
		</div>
	</div>	
</div>