<div class="container">
	<div class="row">
		<div id="comment_<%= @comment_room.id %>" class="col-12">
			<%= render partial: 'comments/comment', locals: { comment_room: @comment_room} %>
	  </div>
	</div>
</div>