<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h3>本当に退会しますか？</h3>
			<p>退会すると、登録情報が全て削除されます。</p>
			<p>退会する場合は、「退会する」をクリックしてください。</p>
			<%= link_to "退会しない", root_path %>
			<%= link_to "退会する", users_quit_out %>
		</div>
	</div>	
</div>