<h3 class="about-title">Well come!</h3>
<div class="about-container">
	<div class="about-contents about-contents1">
		<p>このサイトでは地域のスポーツ仲間を募集する、またはチームを探すことができます。きっと素敵な出会いがあるでしょう。</p>
		<p>ランニング仲間など少人数の募集もできます。是非ご活用下さい！</p>
	</div>
	<div class="about-contents about-contents2">
	</div>
	<div class="about-contents about-contents3">
	</div>
	<div class="about-contents about-contents4">
		<p>スポーツジャンルごとに好きなことをコメントできる場を設けてあります。思い思いのことをコメントしましょう。</p>
		<p>他の人のコメントを見て楽しむのもいいでしょう。</p>
	</div>
</div>
<div class="about-start">
	<h3 class="about-start-text">さあ、あなたも始めてみましょう！</h3>
</div>