<div class="container">
	<div class="row">
		<div class="col-10">
			<div class="page-header">
				<h3 class="col-10">お問い合わせ</h3>
			</div>
			<p class="inquiry">お問い合わせいただきありがとうございました。</p>
			<%= link_to "トップに戻る", "/", class: "btn btn-primary" %>
		</div>
	</div>	
</div>
