/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


*{
	margin: 0;
	padding: 0;
}
.header-table{
	line-height: 80px;
}
.sign-up-title, .sign-in-title{
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn-sign-up{
	width: 200px;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 100px;
}
.btn-sign-in{
	width: 200px;
	margin-left: 60px;
	margin-bottom: 50px;
}
.main-contents{
	height: 1000px;
	background-image: image-url("001.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column; /* 要素を縦並び */
	justify-content: center; /* 要素を中央寄せ（左右） */
	align-items: center; /* 要素を中央寄せ（上下） */
}
.top-text{
	background-color: rgba(0, 0, 0, 0.5);
	width: 600px;
	color: white;
	font-size: 18px;
}