/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

*{
	margin: 0;
	padding: 0;	
	font-family: 'Sawarabi Mincho', sans-serif;
}
.navbar-nav li{
	float: left;
}
.header-table{
	line-height: 80px;
}
.sign-up-title, .sign-in-title{
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn-sign-up{
	width: 200px;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 100px;
}
.btn-sign-in{
	width: 200px;
	margin-left: 60px;
	margin-bottom: 50px;
}
.main-contents{
	height: 1000px;
	background-image: image-url("001.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column; /* 要素を縦並び */
	justify-content: center; /* 要素を中央寄せ（左右） */
	align-items: center; /* 要素を中央寄せ（上下） */
}
.top-text{
	background-color: rgba(0, 0, 0, 0.7);
	width: 600px;
	color: white;
	font-size: 18px;
}
.sub-contents{
	height: 1000px;
	background-image: image-url("002.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column; /* 要素を縦並び */
	justify-content: center; /* 要素を中央寄せ（左右） */
	align-items: center; /* 要素を中央寄せ（上下） */
}
.btn-sub-contents{
	width: 300px;
	margin-top: 20px;
	background-color: rgba(0,0,0,0.7);
	font-size: 18px;
}
.about-container{
	display: flex;
	flex-wrap: wrap;

}
.about-title{
	text-align: center;
	background-color: black;
	color: white;
}
.about-contents{
	width: 50%;
	height: 500px;
	display: flex;
	flex-direction: column; /* 要素を縦並び */
	justify-content: center; /* 要素を中央寄せ（左右） */
	align-items: center; /* 要素を中央寄せ（上下） */
	font-size: 18px;
	background-color: rgba(255,255,255,0.5);
}
.about-contents2{
	background-image: image-url("about-001.jpg");
	background-size: cover;
}
.about-contents3{
	background-image: image-url("about-002.jpg");
	background-size: cover;
}
.about-start{
	height: 1000px;
	background-image: image-url("about-003.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column; /* 要素を縦並び */
	justify-content: center; /* 要素を中央寄せ（左右） */
	align-items: center; /* 要素を中央寄せ（上下） */
}
.about-start-text{
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	color: white;
	padding: 50px, 20px;
}
.prefecture-title{
	margin-top: 50px;
	margin-bottom: 50px;
}
body{
	background-image: image-url("background-image.jpg");
	background-size: cover;
}
.row{
	background-color: rgba(255,255,255,1);
	padding: 50px;
	margin-top: 50px;
}
.sports-prefecture{
	margin-top: 50px;
	font-size: 24px;
}
.sports-title{
	margin-bottom: 50px;
}
.sports-contents{
	margin-top: 20px;
}
.user-show-title{
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
}
.user-show-team{
	margin-top: 50px;
	margin-bottom: 20px;
}
.user-edit-info{
	margin-left: 50px;
}
.title{
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	background-color: rgba(255,255,255,1);
}
.calendar{
	background-color: white;
}
.comment-title{
	margin-top: 50px;
	margin-left: 50px;
}
.comment-title-sub{
	margin-left: 50px;
	margin-bottom: 50px;
}
.team-btn{
	margin-top: 30px;
	margin-bottom: 50px;
}
.information-btn{
	margin-top: 20px;
	margin-bottom: 20px;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
.team_member_new{
	margin-top: 20px;
}
.btn-yes{
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 20px;
	width: 100px;
}
.btn-no{
	margin-top: 20px;
}
.team_name_thanks{
	margin-top: 20px;
}
.team_image{
	margin-top: 50px;
}
.btn-out{
	margin-left: 500px;
}
.inquiry{
	margin: 20px 0;
}
.like_heart{
	color: red;
}
.team_out_btn{
	margin-left: 300px;
}
.notice{
	display: block;
	background-color: black;
	color: white;
	text-align: center;
}