// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-contents{
	height: 1000px;
	background-image: image-url("001.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column; /* 要素を縦並び */
	justify-content: center; /* 要素を中央寄せ（左右） */
	align-items: center; /* 要素を中央寄せ（上下） */
}
.top-text{
	background-color: rgba(0, 0, 0, 0.5);
	width: 600px;
	color: white;
	font-size: 18px;
}